* {
    padding: 0px;
    margin: 0px;
}
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
header h1 {
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
}
.content dl {
    padding-left: 10px;
    margin:20px 0;
}
.content dt {
    font-size: 18px;
    margin-bottom: 5px;
}
.content .hang dd {
    display: inline-block;
    margin-right: 40px; 
}
.content dd span {
    
    margin-left: 10px;
}
.content .cloun span {
    display: block;
    margin: 2px 0 2px;
}
